@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');

:root {
  --purple: #452f8d;
}

body {
  margin: 0 auto;
}
.main {
  width: 750px;
  height: 1334px;
  margin: 0 auto;
}

.section-1 {
  position: relative;
}

.steve-jobs-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.white-back-arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8%;
  left: 1%;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32.64px;
  font-weight: 400;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.white-back-arrow-btn-text {
  font-size: 32.64px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32.64px;
  font-weight: 400;
}

.section-2 {
  border-radius: 25px;
  width: 100%;
  position: absolute;
  top: 90%;
  background: white;
}

.section-2-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-2-title {
  font-size: 88.9px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  color: var(--purple);
  margin: 0;
}

.more-icon-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.follow-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25.67px;
  font-weight: 800;
  color: var(--purple);
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.follow-wrap {
  display: flex;
  margin-left: 10%;
  margin-bottom: 4%;
  align-items: center;
}

.follow-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
}
.plus {
  position: absolute;
}

.section-2-row-1 {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid var(--purple);
  border-bottom: 2px solid var(--purple);
}

.section-2-row-1-h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  color: var(--purple);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  font-size: 46.53px;
}

.section-2-row-1-h4 {
  display: flex;
  justify-content: center;
  margin-top: 0;
  color: var(--purple);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  font-size: 25.67px;
}

.section-2-bottom-container {
  width: 90%;
  margin: 0 auto;
}

.section-2-bottom-container {
  color: var(--purple);
  font-weight: 800;
  font-size: 28.9px;
  font-family: 'Source Sans Pro', sans-serif;
}

.section-2-bottom-container-h1 {
  font-size: 54.85px;
  font-weight: 400;
}

.categories-wrap {
  display: flex;
  justify-content:space-between;
  border-bottom: 2px solid var(--purple);
}

.arrow-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}


@media only screen and (max-width: 600px) {
  .main {
    width: 100%;
    height: 100%;
  }
  .white-back-arrow-btn-wrap {
  }
  .section-2-title {
    font-size: 28.9px;
  }
  .more-icon {
    width: 75%;
  }
  .white-back-arrow {
    width: 20%;
    margin-right: 3px;
  }
  .white-back-arrow-btn-text {
    font-size: 22.64px;
  }
  .follow-text {
    font-size: 15.67px;
    margin-left: -5px;
  }
  .circle {
    position: relative;
    width: 50%;
  }
  .plus {
    position: absolute;
    width: 3%;
  }
}